.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.selector {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  padding: 2%;
  border-radius: 5px;
}

.selector select {
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  margin: 5%;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 25ch;
  animation:
    typing 2s steps(25),
    blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.App-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link:hover {
  text-decoration: none;
}

.date {
  font-size: 0.8em;
  padding: 1%;
  text-transform: uppercase;
  text-align: center;
}

.date[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

@media (max-width: 570px) {
  .App {
    padding: 15% 5%;
    justify-content: flex-start;
  }
}

/* Dark style */

.App-dark {
  background-image: linear-gradient(to left, #282c34, #798cb1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.selector-dark {
  color: white;
}

.selector-dark select {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #282c34;
  border: 1px solid #282c34;
  color: white;
}

.header-dark {
  color: white;
}

.span-dark {
  width: 24ch;
  animation: typing 2s steps(24);
}

.link-dark {
  color: #61dafb;
}

.date-dark {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #282c34;
  color: white;
}

/* Ligth style */

.App-light {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(to left, #ac1717, #ffe4e4);
}

.selector-light {
  color: #790e0e;
}

.selector-light select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffe4e4;
  border: 1px solid #790e0e;
  color: #790e0e;
}

.header-light {
  color: #790e0e;
}

.link-light {
  color: #9e0000;
}

.date-light {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bd6c6c;
  color: #790e0e;
}

/* Minimal style */

.App-minimal {
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to left, #f5f5f5, #e0e0e0);
}

.selector-minimal {
  color: #424242;
}

.selector-minimal select {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5f5;
  border: 1px solid #424242;
  color: #424242;
}

.selector-minimal ::selection {
  border: 1px solid #424242;
}

.header-minimal {
  color: #424242;
}

.span-minimal {
  width: 32ch;
  animation: typing 2s steps(32);
}

.link-minimal {
  color: #424242;
}

.date-minimal {
  font-family: 'Courier New', Courier, monospace;
  background-color: #bdbdbd;
  color: #424242;
}
